server:
    port: 8081

spring:
    datasource:
        username: root
        password:
        url: jdbc:mysql://localhost:3306/pitaya?useSSL=false&useUnicode\=true&characterEncoding\=utf-8
        driver-class-name: com.mysql.jdbc.Driver
